

body {
  margin: 0;
  padding: 0;
}

h1 {
   text-align: center;
   font-family: 'Bad Script', cursive;
    font-size: 4em;
    color:#b4b3b3;
}
.home{
  background-color: #dc94dc8a; 
  background-image: none;
}
.home img{
  display: block;
  padding:4%;
}
.home p{
  max-width: 60%;
  margin-left:20%;
}
.home li{
  margin-left:30%;
}
.home h4{
  text-align: center;
  font-size:3em;
}

.list {
	display: flex;
  max-width: 100%;
	justify-content: center;
    background-color: white;
    width: 100%;
  font-family: "Special Elite";
    
}


.list > div {
	border-color: black;
	border-style: solid;
	padding: 5px;
	margin: 10px;
}
#item1, #item2, #item3, #item4, #item5 {
    height: 10px;
    
}

#text {
    border-style: none;
}

#homepad {
  background-color: #44234F;
  border-radius: 3px;
  padding: 3%;
}

#text {
   color: #ffffff;
   font-size: 2em;
}

#text2 {
   color: #AB1C21;
   font-size: 18px;
  border-style: none;
}

#container {
  text-align: center;
  margin: 0;
  padding-bottom: 2em;
}
h4 {
  font-family: 'Raleway', sans-serif;

}
p {
  font-family: 'Raleway', sans-serif;
}
li {
  font-family: 'Raleway', sans-serif;

}
button{
  width:20%;
  height: 10%;
  background-color: #AB1C21;
  color: #ffffff;
  border-radius: 4%;
  margin-left: 35%;
  padding:3%;
  font-size: 2em;
  font-family: "Raleway" , sans-serif;
}

#bubble {
  position: relative;
  background: #AB1C21;
  padding: 1em;
  left: 40%;
  width: 50%;
  border-radius: .4em;
}

#bubble:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 38px solid transparent;
  border-right-color: #AB1C21;
  border-left: 0;
  border-bottom: 0;
  margin-top: -19px;
  margin-left: -38px;
  text-decoration: none;
}

img {
  width: 40%;
}

.cont2 {
  padding: 50px;
}