@import url(https://fonts.googleapis.com/css?family=Nunito);

html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  perspective: 1px;
  font-family: Nunito;
}

h1 {
   font-size: 5em;
   text-align: center;
}

h2{
   font-size: 1.3em;
   transform: translateZ(.4px) scale(0.6);
   transform-origin: 50% 100%;
}


.slide {
  padding: 25vh 10%;
  min-height: 100vh;
  box-sizing: border-box;
}


.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
  background-image: url("../img/benjamin-voros-575800-unsplash.jpg");
}


@media screen and (max-width: 1172px){
	.smolchart{
		padding-top: 49%;
	}
	
	.smolsentiment{
		padding-top: 50%;
	}
}

.home{
  background-color: #dc94dc8a; 
  background-image: none;
}
.home img{
  display: block;
  padding:4%;
}
.home p{
  max-width: 60%;
  margin-left:20%;
}
.home li{
  margin-left:30%;
}
.home h4{
  text-align: center;
  font-size:3em;
}







/*
h1 {
   font-size: 5em;
   text-align: center;
   font-family: 'Bad Script', cursive;
    font-size: 50px;
}
.home{
  background-color: #dc94dc8a; 
  background-image: none;
}
.home img{
  display: block;
  padding:4%;
}
.home p{
  max-width: 60%;
  margin-left:20%;
}
.home li{
  margin-left:30%;
}
.home h4{
  text-align: center;
  font-size:3em;
}

.list {
	display: flex;
	justify-content: center;
}
.list > div {
	border-color: black;
	border-style: solid;
	padding: 5px;
	margin: 10px;
	width: .5vw;

}
*/

